@import "../css/partials/_variables.css";

#main {
  background: var(--secondary-color);
  height: 100%;
  margin: 0;
  padding: 50px 50px 50px 50px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#contact-icon, #main h1 {
  color: var(--primary-dark-color);
  font-size: 2em;
}

#main h1 {
  display: inline-block;
  padding: 0 0 20px 30px;
}

#contact-type-list {
  position: relative;
  margin: 0 0 0 10px;
  padding: 30px 0 0 30px;
  border-left: 1px solid var(--primary-dark-color);
}

.item-circle {
  position: absolute;
  left: -45px;
  top: 14px;
  background-color: var(--primary-dark-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

#contact-type-list dt {
  position: relative;
  float: left;
  margin-left: 10px;
}

#contact-type-list dd {
  padding: 0 0 5px 60px;
}

#contact-type-list dd:nth-child(2) {
  margin-bottom: 30px;
}

#contact-type-list span {
  color: var(--primary-light-color);  
  font-size: 1.25em;
  padding-top: 12px;
}

#contact-type-list a {
  color: var(--primary-light-color);
  font-size: 1.25em;
  text-decoration: none;
}

#contact-type-list a:hover {
  color: var(--primary-dark-color);
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  #main {
    overflow: hidden;
  }
}
