@import "../css/partials/_variables.css";

#main {
    background: #ffffff;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--primary-dark-color);
}

#main section {
    overflow: hidden;
    margin-top: 50px;
}

#contact-icon {
    font-size: 2em;
    margin-left: 60px;
}

#main h1 {
    display: inline-block;
    font-size: 2em;
    padding: 0 0 20px 30px;
}

#contact-type-list {
    margin: 0 0 0 70px;
    padding: 30px 0 0 30px;
    position: relative;
    border-left: 1px solid var(--primary-dark-color);
}

.item-circle {
    position: absolute;
    left: -45px;
    top: 14px;
    width: 9px;
    height: 9px;
    background-color: var(--primary-dark-color);
    border-radius: 50%;
}

#contact-type-list dt {
    float: left;
    position: relative;
    margin-left: 10px;
}

#contact-type-list dd {
    padding: 0 0 5px 60px;
}

#contact-type-list dd:nth-child(2) {
    margin-bottom: 30px;
}

#contact-type-list span {
    font-size: 1.25em;
    padding-top: 12px;
}

#contact-type-list a {
    font-size: 1.25em;
    color: var(--primary-light-color);
    text-decoration: none;
}

#contact-type-list a:hover {
    color: var(--primary-dark-color);
    font-weight: bold;
}
