#main {
    background: #ffffff;
    opacity: 1.0;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#cv-view {
    margin: 0 auto;
    width: 100%;
    height: 70vw;
    border: none;
}

@media only screen and (min-width: 992px) {
    #cv-view {
        height: 100%;
    }
}