@import "./partials/_variables.css";

@font-face {
    font-family: "Montserrat";
    src: "../static/fonts/Montserrat/Montserrat-Regular.ttf";
}

body {
    background: url("../static/images/background.png") no-repeat fixed 0 35%;
    background-size: cover;
    font-family: var(--montserrat);
    box-sizing: border-box;
}

#header, #nav {
    background-color: var(--primary-light-color);
    opacity: 85%;
    position: relative;
    overflow: hidden;
}

#header {
    height: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
}

#header img {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    margin-top: 30px;
}

#header a {
    text-decoration: none;
}

#name, #position {
    color: var(--primary-text-color);
}

#name {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 20px;
    padding: 5px;
}

#position {
    font-size: 1.125em;
    padding: 5px;
}

.navbar {
    padding: 0 !important;
}

#nav {
    height: 100%;
    color: var(--primary-text-color);
    text-transform: uppercase;
}

#btn-collapse {
    color: #ffffff;
    font-size: 1.5em;
    padding: 10px;
}

#nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
}

#nav-items {
    padding: 10px;
    border-top: 1px solid #ffffff;
}

.navbar-collapse {
    align-items: initial !important;
}

#nav-items a, #social-media a {
    color: var(--secondary-text-color);
    font-size: 1.0em;
    text-decoration: none;
}

#nav-items a {
    display: block;
    padding: 5px 0 5px 0;
}

#nav-items a:hover, #social-media a:hover {
    font-weight: bold;
    color: var(--primary-text-color);
}

#nav li span {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#nav li span::after {
    content: "\00bb";
    position: absolute;
    top: -5px;
    right: -20px;
    font-size: 1.25em;
    opacity: 0;
    transition: 0.5s;
}

#nav #nav-items li.active a {
    color: var(--primary-text-color);
    font-weight: bold;
}

#nav li a:hover span, #nav #nav-items li.active span {
    padding-right: 18px;
}
  
#nav li a:hover span:after, #nav #nav-items li.active span:after {
    right: 0;
    opacity: 1;
}

#nav #social-media-label {
    display: none;
}

#nav #social-media {
    position: absolute;
    right: 10px;
    top: 18px;
    width: auto;
}

#social-media li a {
    display: block;
    padding: 0 14px 0 0;
}

#footer {
    position: relative;
    background-color: var(--primary-light-color);
    color: var(--primary-text-color);
    font-size: 0.8em;
    width: 100%;
    height: 40px;
    padding: 12px;
    opacity: 85%;
}

#main {
    position: relative;
    overflow: hidden;
    color: var(--primary-text-color);
    margin: 60px 60px 0 60px;
}

@media only screen and (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: column !important;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: column !important; 
    }

    #header, #nav {
        position: static;
        width: 25%;
    }
    
    #header {
        height: 100%;
    }   

    #nav {
        height: 53.2vh;
        overflow: auto;
    }

    #nav ul {
        position: static;
        width: 100%;
    }

    #nav #nav-items {
        position: static;
        margin: 0;
        padding: 40px 0 0 40px;
        border: none;
    }

    #nav #nav-items li:nth-child(4) {
        margin-top: 30px;
    }

    #nav #social-media-label {
        position: static;
        display: block;
        color: var(--primary-text-color);
        font-size: 0.75em;
        width: 100%;
        padding: 50px 0 0 40px;
    }

    #nav #social-media {
        position: static;
        width: 100%;
        margin: 0;
        padding: 10px 0 30px 40px;
    }

    #footer {
        position: relative;
        background-color: var(--primary-dark-color);
        width: 25%;
        height: 40px;
        padding: 12px;
        opacity: 85%;
    }

    #main {
        position: fixed;
        top: 0;
        right: 0;
        width: 75%;
        margin: 0;
        padding: 5% 0 0 8%;
    }
}
