@import "../css/partials/_variables.css";

#main {
    background: rgb(255, 255, 255, 0.85);
    height: 100%;
    margin: 0;
    padding: 50px 0 50px 80px;
    color: var(--primary-dark-color);
    overflow: scroll;
}

.skill-circle-container {
    position: relative;
}

.skill-circle {
    display: inline-block;
    background-color: var(--primary-light-color);
    width: 16px;
    height: 16px;
    border: 1px solid var(--primary-dark-color);
    border-radius: 50%;
    margin-right: 6px;
    opacity: 1;
}

#skill-level-description {
    font-size: 0.875em;
}

.light-skill-circle {
    background-color: var(--primary-light-color);
}

.dark-skill-circle {
    background-color: #ffffff;
}

#skill-header {
    position: relative;
}

#skill-header span {
    font-size: 2em;
    position: absolute;
    top: 6px;
    left: -20px;
}

#skill-header h1 {
    display: inline;
    padding-left: 50px;
    font-size: 2em;
}

#skills-list {
    list-style-type: none;
    border-left: 1px solid var(--primary-dark-color);
    padding: 0;
}

#skills-list li {
    padding-bottom: 25px;
}

#skills-list li:first-child {
    padding-top: 50px;
}

#skills-list li:last-child {
    padding-bottom: 5px;
}

.item-circle {
    background-color: var(--primary-dark-color);
    position: absolute;
    left: -5px;
    top: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.item-circle + h2 {
    display: inline-block;
    font-size: 1.25em;
    padding-left: 50px;
}

@media only screen and (max-width: 768px) {
    .skill-circle-container {
        margin-left: 50px;
    }
}
