#main {
  background: var(--secondary-color);
  height: 100%;
  margin: 0;
  padding: 50px 50px 50px 50px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#my-skills-icon, #main h1 {
  color: var(--primary-dark-color);
  font-size: 2em;
}

#main h1 {
  padding: 0 0 20px 30px;
}

#main h1 {
  display: inline-block;
  text-transform: uppercase; 
}

#main h2 {
  color: var(--primary-light-color);
}

#skills-list {
  list-style-type: none;
  border-left: 1px solid var(--primary-dark-color);
  padding: 0;
  margin-left: 20px;
}

#skills-list li {
  padding-bottom: 25px;
  color: var(--primary-light-color);
}

#skills-list li:first-child {
  padding-top: 30px;
}

#skills-list li:last-child {
  padding-bottom: 5px;
}

.item-circle {
  position: absolute;
  left: -5px;
  top: 8px;
  background-color: var(--primary-dark-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.item-circle + h2 {
  display: inline-block;
  font-size: 1.25em;
  padding-left: 50px;
}

.skill-circle-container {
  position: relative;
}

.skill-circle {
  display: inline-block;
  background-color: var(--primary-light-color);
  width: 16px;
  height: 16px;
  margin-right: 6px;
  border: 1px solid var(--primary-dark-color);
  border-radius: 50%;
}

#skill-level-description {
  color: var(--primary-light-color);
  font-size: 0.875em;
  text-transform: uppercase;
}

.light-skill-circle {
  background-color: var(--primary-light-color);
}

.dark-skill-circle {
  background-color: var(--secondary-color);
}

@media only screen and (max-width: 768px) {
  .skill-circle-container {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 992px) {
  #main {
    overflow: hidden;
  }
}
